a:link, a:visited {
  text-decoration: none;
  color: white;
}

a {
  text-align: center
}

body {
  background-color: #8400FF;
  background-image: url("images/stars.png");
  line-height: 1em;
}

@font-face {
  font-family: Vogue;
  src: url(fonts/Vogue.ttf);
}

@font-face {
  font-family: Bedas;
  src: url(fonts/BebasNeueRegular-gxj83.ttf);
}

h1 {
  font-family: Vogue;
  text-align: center;
  color: #ff00ee;
  font-size: 80px;
}

p {
  font-family: Bedas;
  text-align: center;
  color: white;
  font-size: 35px;
}

.center {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.fa {
  font-size: 75px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  color: #ff00ee;
}
